.container2{
    /*border:2px solid red;*/
    display: flex;
    margin-top: 10px;
    margin-left:40px;

}

.value{
    /*border:2px solid green;*/
    width: 18px;
    text-align: center;
    font-size: 22px;
    font-weight:bold;
    margin:10px;
    color:white;
    background-color: #0284c7;
}